header, nav, section, article, aside, footer {
   display:block;
}

.KARTINKA {
    position: absolute;
    left: 150px;
}

.topmenu__text {
  margin: -40px 0 0 0;
    font-size: 48px;
}

.topmenu__text_er {
    font-size: 48px;
}

.navigation {
    margin: 84px 0 0 275px;
    width: 700px;
}

.navigation li {
    float: left;
    margin-left: 52px;
}

.navigation__link {
    font-size: 24px;
}

.navigation__link:hover {
    border: 0px solid black;
}

.navigation li:hover {
    border-bottom: 2px solid #edbfff;
}

.slider {
    clear: both;
    background-image: url(../img/slider_background_ie8.png);
}

.article__header {
    font-size: 60px;
}

.article__text1 {
    font-size: 32px;
}

.article__text2 {
    font-size: 18px;
}

.slider__iphone {
    position: absolute;
    margin: -340px 0 0 620px;
}

.radiobutton {
    width: 250px;
    margin: 0 auto;
    padding: 65px 0 0 710px;
}

.radiobutton__slider_link {
    float: left;
    width: 17px;
    height: 17px;
    background-image: url(../img/radio_slider_ie8.png);
}

.radiobutton__slider_link:hover {
    background-image: url(../img/radio_slider_hover_ie8.png);
}

.wrapper2 {
    clear: both;
    background-image: url(../img/about_background_ie8.png);
}

.about-company__article {
    float: left;
    width: 33.3%;
}

.about-company__image {
    margin: 80px 0 0 10px;
}

.about-company__header {
    font-size: 30px;
    padding: 75px 0 0 60px;
}

.about-company__text {
    padding-left: 60px;
}

.about-company__read-more {
    font-size: 18px;
}

.testimonial {
    float: left;
    width: 480px;
}

.testimonial__image {
    margin: 15px 0 0 -25px;
}

.testimonial__header {
    padding: 30px 0 0 40px;
}

.testimonial__text {
    padding-left: 0;
}

.radiobutton__testimonial {
    padding: 0;
    margin: 4px 0 0 197px;
}

.radiobutton__testimonial_wrapper {
    float: left;
    padding-right: 2px;
    border: 0px solid black;
}

.radiobutton__testimonial_link {
    width: 17px;
    height: 17px;
    background: transparent;
    background-image: url(../img/radio_testimonial_ie8.png);
}

.radiobutton__testimonial_link:hover {
    background-image: url(../img/radio_testimonial_hover_ie8.png);
}

.from-blog {
    width: 480px;
    padding: 0;
}

.from-blog__logo {
    margin-left: -40px;
}

.from-blog_header {
    padding: 125px 0 0 30px;
}

.from-blog__text {
    padding-left: 25px;
}

.from-blog__text2 {
    padding-left: 25px;
}

.logos__whiteframe {
    clear: both;
    padding: 20px 0 33px 0;
}

.copyright__article {
    float: left;
    width: 33.3%;
}

.copyright__article_header {
    padding: 0;
}

.copyright__text3 {
    padding-left: 0px;
    padding-right: 40px;
}

.footer__navigation {
    margin: 40px 0 0 0px;
}

.footer__navigation li {
    margin: 0 44px 0 0;
}

.footer__navigation li:hover {
    border-bottom: 0px solid #edbfff;
}

.footer__link {
    font-size: 20px;
}

.footer__link:hover {
    color: #edbfff;
}

.designed-by {
    margin: -16px 0 0 0;
    font-size: 12px;
    float: right;
}
