@import "reset";
@font-face {
    font-family: 'ubuntuRegular';
    src        : url('../fonts/ubuntu-r-webfont.eot');
    src        : url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-r-webfont.woff2') format('woff2'), url('../fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

body {
    overflow-y: scroll;
}

.centered {
    margin: 0 auto;
}

.fontRegular {
    font-family: 'ubuntuRegular', sans-serif;
}

.fontRegularBold {
    font-family: 'ubuntuRegular', sans-serif;
    font-weight: bold;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.1);
    margin          : 0 auto;
    padding         : 20px 5% 35px;
    width           : 800px;
    position        : relative;
    border-radius   : 20px;
}

.header {
    width     : 90%;
    height    : 40px;
    font-size : 20px;
    text-align: center;
}

header:hover {
    /*text-shadow: 1px 1px 4px #000000;*/
    /*transition: top 1s ease-out 0.5s;*/
}

ul a:hover {
    text-shadow: 1px 1px 4px grey;
}
/* personal info */
.personalInfo {
    height     : 220px;
    line-height: 30px;
}

.personalInfo a {
    text-decoration: none;
    color          : black;
    cursor         : pointer;
}

.personalInfo__img {
    cursor       : pointer;
    width        : 150px;
    height       : 174px;
    border-radius: 10px;
    position     : absolute;
    right        : 78px;
    top          : 80px;
}
/*.personalInfo__img:hover {
  width: 125%;
  height: 125%;
}*/
h3 {
    outline      : none;
    display      : block;
    padding      : 6px 0 0 5px;
    /*padding-top: 6px;*/
    height       : 25px;
    line-height  : 20px;
    border       : 2px solid grey;
    border-radius: 5px;
}

.objective {
    line-height: 25px;
}

.addEduc,
.educ,
.langSkills,
.softSkills,
.techSkills,
.workExp {
    line-height: 25px;
    /*margin: 15px 0 15px 0;*/
}

.markup {
    display       : flex;
    flex-direction: row;
}

.markup__column1 {
    width       : 40%;
    padding-right: 5%;
}

.markup__column2 {
    width: 55%;
}
@import "mediaQueries";
