@media screen and (min-width: 785px) {
    body {
        overflow-y: scroll;
    }

    .wrapper {
        width: 780px;
    }

    .personalInfo {
        height: 220px;
    }

    .personalInfo__img-block {
        position: absolute;
        right   : 8%;
        top     : 2%;
    }

    .techSkills__technologies {
        margin-bottom: 50px;
    }

    .techSkills__frameworks {
        margin-bottom: 0;
    }

    .techSkills__devTools2 {
        margin-bottom: 0;
    }

    .educ__university {
        margin-bottom: 0;
    }
}
