/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'ubuntuRegular';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu-r-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.centered {
  margin: 0 auto; }

.fontRegular {
  font-family: 'ubuntuRegular', sans-serif; }

.fontRegularBold {
  font-family: 'ubuntuRegular', sans-serif;
  font-weight: bold; }

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px 20px 35px;
  width: 320px;
  position: relative;
  border-radius: 20px; }

.header {
  width: 90%;
  height: 40px;
  font-size: 24px;
  text-align: center; }

.header:hover {
  /*text-shadow: 1px 1px 4px #000000;*/
  /*transition: top 1s ease-out 0.5s;*/ }

.link:hover {
  text-shadow: 1px 1px 4px grey; }

/* personal info */
.personalInfo {
  position: relative;
  height: 400px;
  line-height: 30px; }

.personalInfo a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

.personalInfo__img-block {
  margin: 0 auto;
  width: 150px;
  height: 174px;
  display: block;
  margin-bottom: 10px;
  outline: none; }

.personalInfo__img {
  cursor: pointer;
  width: 150px;
  height: 174px;
  border-radius: 10px; }

h3 {
  outline: none;
  display: block;
  padding: 6px 0 0 5px;
  height: 25px;
  line-height: 20px;
  border: 2px solid grey;
  border-radius: 5px; }

/* article */
.objective {
  line-height: 25px; }

.addEduc,
.educ,
.langSkills,
.softSkills,
.techSkills,
.workExp {
  line-height: 25px; }

.markup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.markup__column1 {
  width: 40%;
  padding-right: 5%; }

.markup__column2 {
  width: 55%; }

.techSkills__technologies {
  margin-bottom: 150px; }

.techSkills__frameworks {
  margin-bottom: 25px; }

.techSkills__devTools2 {
  margin-bottom: 25px; }

.educ__university {
  margin-bottom: 75px; }

@media screen and (min-width: 785px) {
  body {
    overflow-y: scroll; }
  .wrapper {
    width: 780px; }
  .personalInfo {
    height: 220px; }
  .personalInfo__img-block {
    position: absolute;
    right: 8%;
    top: 2%; }
  .techSkills__technologies {
    margin-bottom: 50px; }
  .techSkills__frameworks {
    margin-bottom: 0; }
  .techSkills__devTools2 {
    margin-bottom: 0; }
  .educ__university {
    margin-bottom: 0; } }
