body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.item-list {
    /*margin: 0 auto;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.item-list li {
    margin-bottom: 5px;
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 2px solid lightblue;
    border-radius: 7px;
    overflow: hidden;
}

.item-list li p {
  overflow: hidden;
    width: 200px;
}

.controlls {
    display: flex;
    flex-direction: row;
    padding-left: 48px;
    /*justify-content: center;*/
}

button {
    height: 20px;
    width: 100px;
    margin: 16px 10px;
    display: block;
    background: white;
    border-radius: 7px;
    outline: none;
}

input {
    height: 14px;
    width: 180px;
    margin: 16px 10px;
    display: block;
    outline: none;
}
