@import "reset";
@import "fonts";

.m_regular {
    font-family    : 'Montserrat-Regular', sans-serif;
    color          : white;
    text-decoration: none;
}

.m_bold {
    font-family    : 'Montserrat-Bold', sans-serif;
    color          : white;
    text-decoration: none;
}

.r_light {
    font-family    : 'Roboto-Light', sans-serif;
    color          : white;
    text-decoration: none;
}

.centered {
    width : 320px;
    margin: 0 auto;
}

.button-red {
    cursor       : pointer;
    outline      : none;
    background   : #ff4e50;
    border       : 2px solid #ff4e50;
    border-radius: 20px;
    line-height  : 31px;
}
/*  wrapper 1 */
.wrapper1 {
    width              : 320px;
    height             : 540px;
    margin             : 0 auto;
    background-color   : grey;
    background-image   : url("../img/Landing_Desktop.jpg");
    background-position: top;
    background-size    : cover;
    background-repeat  : no-repeat;
    // border: 1px solid black;
}

.login {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    padding        : 21px 0 0;
}

.login__button-in {
    letter-spacing : 0.1em;
    text-decoration: none;
    color          : white;
    margin-right   : 12px;
    background     : transparent;
    border         : 2px solid transparent;
}

.login__button-up {
    letter-spacing : 0.1em;
    text-decoration: none;
    color          : white;
    background     : transparent;
    padding        : 0 13px;
    border         : 2px solid white;
}

.login__button-in:active {
    color: #ff4e50;
}

.login__button-up:active {
    color : #ff4e50;
    border: 2px solid #ff4e50;
}

.title-block__h1 {
    text-align    : center;
    margin-top    : 117px;
    font-size     : 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.title-block__text1 {
    margin-top    : 29px;
    text-align    : center;
    line-height   : 35px;
    font-size     : 29px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.title-block__text2 {
    margin        : 10px 40px 15px;
    text-align    : center;
    line-height   : 22px;
    font-size     : 16px;
    letter-spacing: 0.064em;
}

.button-find {
    display       : block;
    text-align    : center;
    line-height   : 34px;
    width         : 278px;
    margin        : 0 auto;
    letter-spacing: 0.03em;
    color         : white;
    font-size     : 13px;
}

.button-find:active {
    background-color: white;
    color           : #ff4e50;
}
/*  wrapper 2 */
.steps {
    height         : 740px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
}

.main-carousel {
    position: relative;
    width   : 300px;
    height  : 240px;
    overflow: hidden;
    outline : none;
}

.carousel-cell {
    width        : 100%;
    height       : 240px;
    // background       : #8C8;
    border-radius: 5px;
    // counter-increment: carousel-cell;
}

.steps__h2 {
    padding    : 37px 5px 15px;
    text-align : center;
    font-size  : 22px;
    line-height: 24px;
    color      : black;
}

.steps__layout {
    height             : 240px;
    width              : 300px;
    box-sizing         : border-box;
    padding            : 70px 0 0 22px;
    background-image   : url("../img/step1.jpg");
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    border-radius      : 5px;
}

.steps__button {
    text-align     : center;
    display        : block;
    height         : 14px;
    width          : 64px;
    line-height    : 14px;
    text-decoration: none;
    text-transform : uppercase;
    font-size      : 10px;
    letter-spacing : 0.14em;
}

.steps__button_step2 {
    margin-top: 28px;
}

.steps__button:active {
    color           : #ff4e50;
    background-color: white;
    border          : 2px solid white;
}

.steps__text1 {
    margin     : 20px 20px 0 0;
    font-size  : 24px;
    line-height: 26px;
}

.steps__text2 {
    margin        : 15px 19px 0 0;
    font-size     : 13px;
    letter-spacing: 0.035em;
    line-height   : 16px;
}

.steps__2 {
    background-image: url("../img/step2.jpg");
}

.steps__3 {
    background-image: url("../img/step3.jpg");
}
/* carousel arrow color */
.previous {
    display: none;
}

.next {
    display: none;
}

.flickity-prev-next-button .arrow {
    fill: transparent;
}

.flickity-prev-next-button.no-svg {
    color: transparent;
}
/* wrapper 3 */
.partner {
    width         : 320px;
    display       : flex;
    flex-direction: column;
}

.partner__a {
    display        : block;
    width          : 121px;
    margin         : 0 auto;
    text-decoration: none;
}

.partner__img {
    width : 121px;
    height: 121px;
}

.partner__text1 {
    margin-top: 16px;
    color     : black;
    text-align: center;
    font-size : 14px;
}

.partner__text2 {
    margin     : 17px 50px 27px;
    color      : black;
    text-align : center;
    font-size  : 14px;
    line-height: 16px;
}

.button-partners {
    display         : block;
    background-color: transparent;
    border-radius   : 2px solid #ff4e50;
    line-height     : 34px;
    width           : 278px;
    margin          : 0 auto;
    color           : #ff4e50;
    font-size       : 14px;
    text-align      : center;
}

.button-partners:active {
    background-color: #ff4e50;
    color           : white;
}
/* wrapper 4 */
.holiday-pics__item {
    text-align   : center;
    width        : 93.75%; //300px
    height       : 121px;
    border-radius: 4px;
    margin       : 0 3.125% 9px;
    overflow     : hidden;
    position     : relative;
}

.holiday__overlay {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    background: black;
    opacity   : 0.3;
    z-index   : 2;
}

.holiday-pics__text {
    width      : 100%;
    padding    : 0 20px;
    position   : absolute;
    box-sizing : border-box;
    z-index    : 3;
    line-height: 121px;
    color      : white;
    font-weight: bold;
    font-size  : 23px;
}

.img-align {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.img-align-moz,
x:-moz-any-link {
    position: absolute;
    display : block;
    right   : 60%;
    bottom  : 10%;
}

.holiday-h2_bottom {
    padding-top: 25px;
}

.holiday-form {
    display       : flex;
    flex-direction: column;
}

.holiday-form__layout {
    display       : flex;
    flex-direction: column;
}

.holiday-form__text {
    color     : black;
    font-size : 18px;
    text-align: center;
}

.holiday-form__input {
    padding: 0 10px;
    margin : 20px auto 0;
    width  : 256px;
    height : 34px;
    color  : black;
}

.holiday-form__button {
    margin        : 10px auto 0;
    height        : 39px;
    width         : 280px;
    letter-spacing: 0.05em;
}

.holiday-form__button:active {
    color           : #ff4e50;
    background-color: white;
}
/* wrapper 5 */
.footer {
    margin-top: 39px;
}

.footer__line {
    margin-top: 40px;
    border-top: 4px solid #ff4e50;
}

.footer__h2 {
    margin-top    : 19px;
    text-align    : center;
    text-transform: uppercase;
    color         : #ff4e50;
    letter-spacing: 0.03em;
}

.footer__company-text {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

.footer__text1 {
    margin    : 15px 0 4px;
    text-align: center;
    font-size : 14px;
    color     : black;
}

.footer__text2 {
    padding   : 0 7px;
    margin-top: 5px;
    font-size : 14px;
    color     : black;
}

.footer__text3 {
    text-align    : center;
    margin-top    : 17px;
    font-size     : 10px;
    color         : lightgrey;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer__logo {
    width   : 320px;
    position: relative;
}

.footer__logo-pic {
    position: absolute;
    top     : 38%;
    left    : 33%;
}

.footer__text4 {
    margin        : 5px 0 0 27px;
    text-align    : center;
    font-size     : 20px;
    text-transform: uppercase;
    color         : #ff4e50;
    letter-spacing: 0.05em;
}

.footer__text5 {
    margin        : 1px 0 0 35px;
    text-align    : center;
    text-transform: uppercase;
    font-size     : 7px;
    color         : #ff4e50;
    letter-spacing: 0.4em;
}
@import "mediaQueries";
